:root {
  --color-bg: #f7f9fc;
  --color-surface: #ffffff;
  --color-surface-soft: #f8faff;

  --color-primary: #2563ff;
  --color-primary-soft: #eaf1ff;

  --color-success: #22c55e;
  --color-success-soft: #e9fbeF;

  --color-warning: #f59e0b;
  --color-warning-soft: #fff4df;

  --color-danger: #ef4444;
  --color-danger-soft: #ffecec;

  --color-purple: #7c3aed;
  --color-purple-soft: #f1eaff;

  --color-text: #07132f;
  --color-muted: #64748b;
  --color-border: #e5ebf5;

  --sidebar-width: 300px;
  --navbar-height: 82px;

  --radius-lg: 24px;
  --radius-md: 18px;
  --radius-sm: 12px;

  --shadow-soft: 0 16px 45px rgba(15, 23, 42, 0.08);
  --shadow-card: 0 10px 30px rgba(15, 23, 42, 0.06);
}