.main-layout {
  margin-left: 260px;
  min-height: 100vh;
  width: calc(100% - 260px);
  background: var(--page);
}

#app {
  min-height: calc(100vh - 72px);
}

@media (max-width: 1024px) {
  .main-layout {
    margin-left: 80px;
    width: calc(100% - 80px);
  }
}

@media (max-width: 768px) {
  .main-layout {
    margin-left: 0;
    width: 100%;
  }
}